[submodule "repos/book"]
	path = repos/book
	url = https://github.com/rust-lang/book
[submodule "repos/edition-guide"]
	path = repos/edition-guide
	url = https://github.com/rust-lang/edition-guide
[submodule "repos/embedded-book"]
	path = repos/embedded-book
	url = https://github.com/rust-embedded/book
[submodule "repos/nomicon"]
	path = repos/nomicon
	url = https://github.com/rust-lang/nomicon
[submodule "repos/reference"]
	path = repos/reference
	url = https://github.com/rust-lang/reference
